<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.BoardMapper">
	<!-- 게시판 글쓰기 -->
	<insert id="insertBoard">
		insert into tbl_board(title,writer,content)
		values (#{title}, #{writer}, #{content})
	</insert>
	
	<!-- 게시판 글 목록 전부 조회 -->
	<!-- 원래 resultType에 풀패키징 써줘야하는데, mybatis-config에 정의돼있어서 안써도됨 -->
	<select id="selectBoardListALL" resultType="BoardVO">
		select * from tbl_board order by bno desc
	</select>
	
	<!-- 특정 게시판 글 조회수 1 증가 -->
	<update id="updateViewCnt">
		update tbl_board set viewcnt=viewcnt+1
		where bno = #{bno}
	</update>
	
	<!-- 특정 게시판 글 정보를 조회 -->
	<select id="selectBoard" resultType="BoardVO">
		select * from tbl_board where bno=#{bno}
	</select>
	
	<!-- 게시판 글 정보 수정 -->
	<update id="updateBoard">
		update tbl_board set title=#{title}, writer=#{writer}, content=#{content}
		where bno = #{bno}
	</update>
	
	<!--  게시판 글 삭제 -->
	<delete id="deleteBoard">
		delete from tbl_board where bno=#{bno}
	</delete>
</mapper>